body {
  background: #232136;
  color: #e0def4;
}

.movie-list {
  flex-wrap: nowrap;
  overflow-x: auto;
}

.image-container {
  position: relative;
  transition: transform 0.2s;
}

.image-container:hover {
  cursor: pointer;
  transform: scale(1.01);
}

.image-container:hover .overlay {
  opacity: 1;
}

.overlay {
  position: absolute;
  width: 100%;
  background: rgba(0, 0, 0, 0.6);
  transition: opacity 0.2s;
  opacity: 0;
  bottom: 0;
  font-size: 20px;
  padding: 20px;
  text-align: center;
}
